{% extends 'footapp/base.html' %}
{% block title %}Add Club | Football App{% endblock %}

{% block content %}
<h2 class="text-3xl font-bold mb-6 text-green-700">Add a New Club</h2>

<form method="post" enctype="multipart/form-data"
      class="bg-white shadow-md rounded-xl p-6 space-y-6 max-w-2xl mx-auto">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="text-center">
        <button type="submit"
                class="bg-green-600 text-white px-6 py-3 rounded-xl hover:bg-green-700 transition">
            Save Club
        </button>
    </div>
</form>
{% endblock %}
